@charset "utf-8";

@import url("framework.css");


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin:30px 0 0 0;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:220px 0; text-align:center;}

#pageintro .heading{display:block; position:relative; margin:0 0 50px 0; padding:0 0 30px 0; font-size:64px;}
#pageintro .heading::after{display:block; position:absolute; bottom:0; left:50%; width:120px; height:2px; margin-left:-60px; content:"";}
#pageintro .txtwrap{display:block; max-width:65%; margin:0 auto;}
#pageintro p{margin:0;}
#pageintro footer{margin-top:80px;}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}


#logo img{
    transition: 0.5s; 
    filter: brightness(100%);
}
#logo img:hover{
    filter: brightness(0%);
}


/* img gallery
--------------------------------------------------------------------------------------------------------------- */

.gallery{margin: 2% 5%;}
.gallery img{filter:grayscale(100%);transition: 1s; padding: 20px; width: 565px;}
.gallery img:hover{filter:grayscale(0%); transform:scale(1.1);}

/* gadgets
--------------------------------------------------------------------------------------------------------------- */

#gadgets {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
#gadgets #cam2 {
        display: none;
        top: 0;
        left: 0;
    }
#gadgets:hover #cam2 {
        display: inline;
    }
#gadgets:hover #cam1 {
    display: none;
}

#gadgets2 {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
#gadgets2 #lens2 {
        display: none;
        top: 0;
        left: 0;
    }
#gadgets2:hover #lens2 {
        display: inline;
    }
#gadgets2:hover #lens1 {
    display: none;
}

#gadtext{
    margin-left: 25%;
    margin-right: 25%;
}
#gadtext2{
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 100px;
}

/* links
--------------------------------------------------------------------------------------------------------------- */

a{
 color: #2d67dc;
}

a:hover{
    color: #dc2d67;
}

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#FFFFFF; background-color:#212121;}
a{color:#2D67DC;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#FFFFFF;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#2D67DC;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{background-color:rgba(0,0,0,.3);}
.overlay.light::after{background-color:rgba(255,255,255,.55);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#2D67DC; border-color:#2D67DC;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}



/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#2D67DC; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#2D67DC;}
#mainav form select{color:#FFFFFF; background-color:#000000; border-color:rgba(255,255,255,.3);}

#breadcrumb ul{border-color:rgba(255,255,255,.2);}
#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#2D67DC;}

.container .sidebar nav a{color:inherit; border-color:#FFFFF;}
.container .sidebar nav a:hover{color:#2D67DC;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#2D67DC;}

#backtotop{color:#FFFFFF; background-color:#2D67DC;}



/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#header{padding:30px 0;}
	#header #logo{margin-top:3px;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
    
    #navbg{
        opacity: 0;
    }
}


@media screen and (min-width:750px) and (max-width:900px){
	.iconlist li > :last-child{margin-top:8px;}
      #navbg{
        opacity: 0;
    }
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#header{text-align:center;}
	#header #logo{margin:0 0 15px 0;}

      #navbg{
        opacity: 0;
    }
}


@media screen and (max-width:450px){
	.iconlist li > :last-child{margin-top:5px;}
      #navbg{
        opacity: 0;
    }
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#pageintro .heading{font-size:2rem;}
      #navbg{
        opacity: 0;
    }
}


